    @font-face {
        font-family: "Bebas Neue W05 Regular";
        src: url("Fonts/5352060/709c70fd-1848-49ce-b445-711a3c94b457.eot?#iefix");
        src: url("Fonts/5352060/709c70fd-1848-49ce-b445-711a3c94b457.eot?#iefix") format("eot"), url("Fonts/5352060/fa68ccae-ed18-43fd-92a3-829fc903f139.woff2") format("woff2"), url("Fonts/5352060/3a408821-3189-48af-8229-0dd70b3ae13e.woff") format("woff"), url("Fonts/5352060/acfd00fe-2a3e-4bf4-819e-3decd31aeb04.ttf") format("truetype");
    }